
/*-----------------------ABOUT US-------------------------*/

/*-------------Import Fonts----------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nanum+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{  /*ROOT*/
    --primary_color--: #00264E; 
    --secondary_color--: rgb(17, 57, 100);
    --ancent_color--: #3F77A8;
    --soft_color--: #6FA6CD;
    --Font--: 'Roboto', sans-serif;
    --Title_font--:'"Inter", sans-serif';
    --h1_font-- : 

}


*{
    background-color: var(--primary_color--);
    color: white;
    font-family: var(--Font--) ;
    text-decoration: none;
    box-sizing: border-box;
}

nav a {
    margin: 0px;
    padding: 1rem;
    border: 20px, red;
    border-width: 5px;
    background-color: var(--secondary_color--);
    border-radius: 50px;
    

}
.navimg{
    background-color: var(--primary_color--);
}

.nav1 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex: 200px;
    justify-content: space-around;
  }



header img{
    width: 50px;
    height: auto;
    margin: 1em;
    
}
/*-------------Hero CSS----------*/
.hero{
    text-align: center;
    
    box-sizing:border-box;
    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    clear: both;
    position: relative;
    align-items: center;
    margin : 0;
    padding: 0;
    
    
    
  }

.hero h1 {
   
    display: block;
    overflow: visible;
    font-family: "Nanum Gothic", sans-serif;
    background-color: var(--ancent_color--);
    font-size: 3rem;
    margin: 0;
    padding:20px;

}

.hero p {
    
    text-align: center;
    font-size: 20px;
    position: absolute;
    padding: 10px;
    
   
    margin-top: -50%;
    
    border-radius: 15px;
    clear: both;
    background-color: rgba(17, 57, 100,0.8);

}
/*-------------Section CSS----------*/


h2{
    display: block;
    width: 100vw;
    height: 30px;
    margin: 0;
    padding: -110px;
}

section{
    display: flex;
    flex-direction: column;
    clear: both;
    margin-bottom: 5rem;
}

.raftimages{
    display: grid;
    grid-auto-flow: row;
    gap: 150px;
    grid-template-rows: 200px  ;
    grid-template-columns: 200px 200px ;
    
}

section img{
    display:flex;
    max-width: 15vw;
    height: auto;
    object-fit: cover;
    grid-auto-flow: row;
    
    position: relative; 
    float: none;
}

form{
    margin-top: 5rem;
}

.formdetails{
    margin: auto;
    max-width: 30vw;
    border-radius: 5px;

    
}


legend{
    font-size: x-large;
    padding: 10px;
}

input{
    background-color: beige;
    border: 0;
    border-radius: 5px;
    color: black;
    height:30px;
    font-size: larger;
    padding: 10px;
}

input,label{
    margin-bottom: 7px;
}

#submit{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#submitbutton{
    padding: 5px 10px;
    border: 0;
    background-color: var(--secondary_color--);
    border-radius: 5px;
    font-size: larger;

}






/*-------------Footer CSS----------*/
footer {
    
    text-align: center;
    display: block;
    clear: both;
}

footer img{
    
    align-items: center;
    right: 50%;
    max-width: 20px;
    
    }