*{ /* Applies to all scritps */
    color: white;
    
}

html{ /* Background general color */
        background-color: #00264e;
}

p{
    color: antiquewhite;
    max-width: 840px;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline;
    padding: 10px;
    font-family: sans-serif;

}

h1{
    text-align: center;
}

h1,h2,h3,h4 {
    
    font-family: sans-serif;
    display:block;
    
}

main {
    margin: 1em;
}

ul {
    display: inline-block;
    text-align:justify;
    margin: 1px;
}

li{
    margin: 0 0 0 0;
}

main img {
    width: 200px;
    height: auto;
}