:root{
    --primary-color : #4682b4;
    --secondary-color : #00264e;
   
}

*{ /* Applies to all scritps */
    color: white;
    font-family:Arial
    
}

html{ /* Background general color */
        background-color: var(--secondary-color);
}

p{
    color: antiquewhite;
    max-width: 840px;
}

nav {
    background-color: #4682b4;
    padding: 10px;
}

nav a {
    color: white;
    display: inline;
    padding: 10px;
    font-family: sans-serif;

}

h1{
    text-align: center;
}

h1,h2,h3,h4 {
    
    font-family: sans-serif;
    display:block;
    
}

main {
    margin: 1em;
}

ul {
    display: inline-block;
    text-align:justify;
    margin: 1px;
}

li{
    margin: 0 0 0 0;
}

main img {
    max-width: 250px;
    height: auto;
    display: block;
}
.colored{
color: #b8efff;

}
div {
    display:inline-table;
    margin-right: 5rem;
}