@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
  }

  header {
    margin: 0 auto;
    width: 650px;
  }
  
  h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
  }

  form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
  }

  #form1{
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 10px;
    padding: 2%;

  }

.lastfirst{
  text-align: end;
  align-content: center ;
}

  fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
  }

  label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
  }

  label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
  }

  input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }

  button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }
  
  button:hover {
    background-color: darkgreen;
  }

  footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
  }































/*
:root{
   
        --primary_color--: #00264E; 
        --secondary_color--: #15616D;
        --ancent_color--: #78290F;
        --soft_color--: #6FA6CD;
        --Font--: 'Roboto', sans-serif;
        --Title_font--:'"Inter", sans-serif';
        --nav_color--: #FFECD1;
        --nav_font--: "DM Sans", sans-serif;

    }

    *{
        font-family: var(--nav_font--);
        box-sizing: border-box;
        color: black;
    }


body{
    background-color: var(--soft_color--);
}

#titlename{
    display: flex;
    text-align: center;
    justify-content: center;
}


/*form design

form{
    display: block;
    width: 40vw;
    align-items: center;
    margin: auto;
    justify-content: center;
  
}

legend{
    font-size: larger;
    color: var(--primary_color--);
}

.formdetails{
    border-radius: 10px;
    line-height: 20px;
}

#formname{
   display: flex;
   justify-content: start;
   text-align: end;


}

input,#browser,textarea{
    border-radius: 3px;
    border: 0;
    background-color: beige;

}


/*submit button

/*button inside box
#submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}

#submitbutton{
   
    padding: 2px 15px;
}

footer{
    display: flex;
    text-align: center;
    justify-content: center;
}

*/