
*{
color: white;
margin: 0;
padding: 0;
box-sizing: border-box;


}
html{
    background-color: #00264e;
    
   
}

.box {
    margin: 1rem;
    
    padding: 1rem;
    background-color:#001f41;
    color: #000;
  }

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline;
    padding: 10px;
    font-family: sans-serif;

}

h1,h2 {
    
    font-family: sans-serif;
    display:block;
    
}

img{
    width: 150px;
    float: right;
    height: auto;
    border: 1px solid steelblue;
    margin: 0em 1em 0em 1em ;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    display: block;
}

p {
    padding: 10px;
}

main{
    max-width: 840px;
    display: block;
    
    
}



aside img {
    
    width: 200px;
    height: auto;
    
    float: right;
    
   
    display: block;
    

    
}

aside {
    max-width: 840px;
    
    display: block;
    text-align: center;
    position: relative;
    
}


div {
    clear: both;
   

    margin-top: 5em;
}

footer {
    margin-top: 7rem;
    border-top: 1px solid white;
    text-align: center;
    display: block;
}