@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@100..900&family=Nanum+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');


/*------------------------ INDEX --------------------*/


:root{  /*ROOT*/
    --primary_color--: #00264E; 
    --secondary_color--: #15616D;
    --ancent_color--: #78290F;
    --soft_color--: #6FA6CD;
    --Font--: 'Roboto', sans-serif;
    --Title_font--:'"Inter", sans-serif';
    --nav_color--: #FFECD1;
    --nav_font--: "DM Sans", sans-serif;
}


*{
color: white;
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;


}
html{
    background-color: var(--secondary_color--);
    
   
}



/* Class Selectors*/
ul{
display: grid;
width: 90x;
max-width: 840px;
align-items: center;
justify-content: space-evenly;
flex-direction: row;
}
ul li {
    margin: 1em;
    display: flex;

    flex-direction: column;
    text-align: center;
    justify-content:space-evenly;
    border-style: solid;
    padding: 12px;
    border-width: 1px;
    background-color: var(--soft_color--);
    border-radius: 20px;
    
}
/*-----------------------Top of page--------------------*/
nav {
    background-color: var(--nav_color--);
    padding: 0;
    font-family: var(--nav_font--);
    display: flex;
    
    clear: both;
    justify-content:space-around;
    flex-wrap: wrap;
     
}

nav a {
    color: var(--ancent_color--);
    border-left-style:solid;
    border-right-style:solid;
    border-color:  #FF7D00;
    display: flex;
    padding: 20px;
    text-align: center;    
    
    margin: 0px;
    border-width:0.01mm;
    
    flex-grow: 1;
    justify-content: center;
    
    

}

nav img{
    max-width: 50px;
    background-color: none ;
    padding: 0;
    margin: -1em;
    
    
}

h1, h2 {
    
    font-family: var(--nav_font--);
    font-weight: 100;
    text-align: center;
    display: flex;
    margin: 0;
    justify-content: center;
}




/*-------------------------MAIN-----------------*/


div img{
    width: 150px;
    float: right;
    display: inline;
    height: auto;
    flex-grow: 2;
    margin: 1em;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    border-radius: 100%;
}

p {
    padding: 10px;
    margin: 1rem;
    
}
.box {
    box-sizing: border-box;
    
    margin: 1rem;
    max-width: 840px;
    padding: 1rem;
    border: 5px;
    background-color:var(--primary_color--);
    color: #000;
    flex-direction:row;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    
   
    align-content: center;
    justify-content: center;
  }



main{
    display:flex;
    align-content: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    clear: both;
    flex: 1;
    margin-top: 3rem;
    line-height: 1.6;
    font-family: var(--nav_font--);
    font-weight: 10;
    
    
}


aside img {
    display: flex;
    width: 200px;
    height: auto;
    margin: 1rem;
    float: right;
    
    
    

    
}


.centre{
    align-content: center;
    justify-content: center;
}
/*
div p,aside p {
    
    
    display: grid;
    margin-top: 5em;
    justify-content: space-between;
}*/

div img p, aside img p{
   
    display: flex;
    flex: 1;
   
    flex-direction: row;
    flex: 1;
   
    
    
}


aside h2 {
    
    display:flex;
    
    
    
    
    
}



/*-------------------------END PAGE-----------------------*/

footer {
    margin-top: 7rem;
    border-top: 1px solid white;
    text-align: center;
    display:flex;
    justify-content: space-around;
    
}